<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Successful</title>
    <link rel="stylesheet" href="/css/successful.css">
    <link rel="icon" href="/images/Logo1.png" type="image/x-icon">
</head>
<body>
<div class="container">
    <h1>Payment Successful</h1>
    <p>Thank you for your purchase! Your payment was successful.</p>
    <p>Your subscription has been activated.</p>
    <p>You can now return to the application.</p>
</div>
</body>
</html>
